.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    // height: 20vh;
    border: 2px solid blue;

    &_logo {
        width: 150px;
        height: 150px;
    }

    &_nav {
        width:75%;

        &_list {
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;

            &_item {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                color: blue;
                text-decoration: none;
            }
            &_item:hover {
                color: blueviolet;
            }
        }
    }
}