.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid purple;
}

.card {
    width: 250px;
    height: 350px;
    border: 2px solid yellow;
}

.selected {
    background-color: pink;
    font-weight: bolder;
}