@import '../../../src/style/vars.scss';

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid purple;
}

.card {
    width: 250px;
    height: 350px;
    border: 2px solid $color-violet;

    &_button {
        height: 50px;
        background-color: $color-green;
    }
    &_button:hover {
        background-color: $color-violet;
    }
    &_button:active {
        background-color: $color-yellow;
    }
}

.selected {
    background-color: $color-pinc;
    font-weight: bolder;
}