@import '../../style/vars.scss';

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 20px;
    background: $color-bgLight;
}
.text {
    color: $color-txtLight;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #FFF0F0;
    background: $color-bgDark;

    &__ranscription {
        font-weight: bold;
    }
    &__russian {
        margin-bottom: 35px;
        font-weight: bolder;
    }
    &_button {
        height: 50px;
        background-color: $color-BG-green;
        color: $color-TXT-green;
    }
    
    &__btnList {
        display: flex;
        justify-content: space-around;
        width: 250px;

        &_Ok {
            background-color: $color-BG-green;
            color: $color-TXT-green;
        }

        &_Nok {
            background-color: $color-BG-red;
            color: $color-TXT-red;
        }
    }
}

.russianNone {
    display: none;
}

