@import '../../style/vars.scss';

.table {
    margin: 0 auto;

    &__row {
        display: flex;

        &_number, &_english, &_transcription, &_russian, &_theme, &_buttonList{
            display: flex;
            height: 50px;
            padding-left: 5px;
            align-items:  center;
            border: 1px solid $color-yellow;
        }
        &_number{
            width: 50px;
        }
        &_english {
            width: 20%;
        }
        &_transcription, &_russian {
            width: 30%;
        }
        &_theme {
            width: 15%;
        }
        &_buttonList {
            width: 350px;
        }
    }
}

.selected {
    background-color:  #4A465B;
    border: 1px solid $color-TXT-green;
}

.deleled {
    display: none;
}