@import '../../style/vars.scss';

.container {
    border-radius: 10px;
    border: 3px solid $color-border;
    // padding: 10px;
}

.table {
    margin: 0;

    &__row {
        display: flex;
        
        &_input{
            width: calc((100% - 113px)/4);
            display: flex;
            padding-left: 16px;
            align-items:  center;
            border: 1px solid $color-Lgrey;
        }
        &_buttonList {
            display: flex;
            justify-content: space-around;
            width: 113px;
            height: 56px;
            padding-left: 5px;
            align-items:  center;
            border: 1px solid $color-Lgrey;
            background: #FFF;
.btnIcon {
    width: 24px;
    height: 24px;
}

        }
    }
}

.selected {
    background-color:  $color-bgInput-Select;
    color: $color-txtLight;
}

.deleled {
    display: none;
}

.error {
   background-color: $color-bgInput-Error;
   
}

