main{
    border-bottom: 10px solid;
    border-top: 10px solid;
    padding: 30px 0;
    max-width: 60%;
    margin: 0 auto;
    width: 100%;
}

.body_light {
    background-color: rgb(228, 218, 238);
    color:  rgb(26, 13, 50);
}

.body_dark {
    background-color:rgb(26, 13, 50);
    color:  rgb(228, 218, 238);
}
