@import 'vars.scss';

*,
:after,
:before {
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
}

main, header, footer{
    border-bottom: 10px solid;
    border-top: 10px solid;
    padding: 6px 10%;
    margin: 0 auto;
}

.body_light {
    background: $color-bgLight;
    color: $color-txtLight;
    
    a{
        color: $color-txtLight; 
    }
}

.body_dark {
    background: $color-bgDark;
    color: $color-txtDark;

    a{
        color: $color-txtDark; 
    }
}

button, img {
    cursor: pointer;  
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    nav {
        width: 100%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;

            a {
                text-decoration: none;
            }
            a:hover, .active {
                text-underline-offset: 4px;
                text-decoration: underline;
            }
        }
    }

    .container{
        display: flex;
        
    }

    .poster {
        width: 200px;
        height: 200px;
        border: 2px solid $color-border;
    }