$color-green: #60D88B;
$color-yellow: #EFD372;    
$color-violet: #9C81EA;
$color-white: #FFFFFF;
$color-greyText: #928CA6;  
$color-pinc: #E63D70;   
$color-LgreyInput: #4A465B; 
$color-DgreyInput: #343141; 
$color-bgDark: #1F1D28;