$color-BG-green: #EBF6EB;
$color-TXT-green: #31AA27;
$color-yellow: #EFD372;    
$color-violet: #9C81EA;
$color-white: #FFFFFF;
$color-greyText: #928CA6;  
$color-BG-red: #FFF0F0;
$color-TXT-red: #F93232;


$color-bgLight: #FFF;
$color-bgDark: #605DEC;
$color-txtLight: #1A1A1A;
$color-txtDark:#FFF;

$color-Lgrey: #F4F3FE; 
$color-border: #E4E4EF; 

$color-bgInput-Select:  #EBF6EB; 

$color-bgInput-Error: #FFF0F0;
$color-txt-Red: #F93232;

