
$color-bgLight: #FFF;
$color-bgDark: #605DEC;
$color-txtLight: #1A1A1A;
$color-txtDark:#FFF;

$color-Lgrey: #F4F3FE; 
$color-border: #E4E4EF; 

$color-bgInput-Select:  #EBF6EB; 

$color-bgInput-Error: #FFF0F0;
$color-txt-Red: #F93232;

